.form {
    background-color: white;
    padding: 1rem;
    width: 50vw;
    border-radius: 1.2rem;
}

.input {
    display: flex;
    flex-direction: column;
}

.input label {
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.input input {
    margin-bottom: 1rem;
    padding: 0.5em 0;
    padding-left: 0.5em;
    font-size: 16;
}
